<div class="jumbotron jumbostyle">
    <div class="container-fluid">
        <div class="row">
            <div class="col md-4"></div>
            <div class="col md-4">
                <h1 class="display 4 text-center" style="padding-top:2rem;">
                    <%=activity%> Flights </h1>
            </div>
            <div class="col md-4">
            </div>
        </div>
        <hr style="padding-bottom:2rem;">
    </div>
</div>