<div class="jumbotron jumbostyle">
    <div class="container-fluid">
      <!-- Title and Activity container-->
      <div class="row">
        <div class="col md-4"></div>
        <div class="col md-4">
          <h1 class="display 4 text-center" style="padding-top:2rem;"> <strong>
              <%=activity%> Flights</strong> </h1>
        </div>
        <div class="col md-4">
        </div>
      </div> 
      <hr>
   
      <% if(info.length) {%>
      <div class="row">
        <div class="col md-6">
          <!-- Flight Overview container -->
          <div class="container-fluid" style="background-color:rgb(255, 255, 255); overflow:auto; padding:10px;">
  
            <table id="aircrafts-anemo" class="table table-striped text-left table-hover">
              <thead>
                <% for(var i=0; i < headers.length; i++) {%>
                <th>
                  <%= headers[i] %>
                </th>
                <% } %>
              </thead>
  
              <tbody>
                <% for(var i=0; i < info.length; i++) {%>
                <tr style="cursor : pointer;">
                  <% for(var j=0; j < headers.length; j++) {%>
                  <td>
                    <%= info[i][headers[j]] %>
                  </td>
                  <% } %>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <% } else { %>
      <div class="container" style="background-color:rgba(255, 255, 255, 0.836); overflow:auto; padding:10px;">
        <div style="padding:2rem">
          <h2><strong style="color:#1D809F">No results found</strong> </h2>
          <hr />
          <div class="help">
            <h5>No matches for the specified parameters were found.</h5><br>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <%- include ../../spinner-modal.ejs %>
  