<div id="500" v-cloak>
  <div class="container text-center" style="padding-top:6rem">
    <div class="jumbotron" style="background:rgba(255, 255, 255, 0.733);">
      <h2><strong>We've encountered an unexpected error</strong> </h2>
      <hr />

      <div class="help"> 
        <h5>An internal server error has occured. This may be due to a faulty request or to internal conflicts.</h5><br>
        <a class="btn btn-lg btn-primary" href="/">Go back</a>
      </div>
    </div>
  </div>
</div>
