<div class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1>Welcome</h1>
        <h3 class="mb-3" style="font-family: 'Source Sans Pro';">
            <em>Please select the activity you would like to view</em>
        </h3> 
        <div class="row">
            <div class="col md-12 text-center">
                <div class="sel">
                    <select id="selected">
                        <option value="">Select...</option>
                        <option value="ANEMO">ANEMO</option>
                        <option value="DGPS">DGPS</option>
                        <option value="MCI">MCI</option>
                    </select>
                </div>

                <a id="start" for="activity">
                    <i id="check" style="color:rgba(0, 0, 0, 0.89); cursor: pointer;" class="fa fa-arrow-right fa-2x"></i>
                    <i id="spin" style="color:rgb(252, 252, 252); display:none;" class="fa fa-spinner fa-3x fa-spin"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</div>