<div class="modal fade" id="searchModalCenter" tabindex="-1" role="dialog" aria-labelledby="searchModalCenterTitle">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <form action='<%="/Activities/"+activity+"/search"%>' method="POST">
        <div class="modal-header" style="background-color:#eef7fc">
          <h4 class="modal-title text-center" style="margin: 0 auto;" id="searchModalCenterTitle"> Search Criteria <i
              style="color:rgb(148, 196, 224);" class="fa fa-search fa-sm" title="Search"></i></h4>
        </div>
        <div class="modal-body " style="background-color:white; margin: 0 auto;">
          <table class="modal-table">
            <thead>
              <tr>
                <th>AIRCRAFT</th>
                <th>PARAMETER</th>
                <th>TYPE <label class="switch">
                    <input type="checkbox" id="type_check" checked>
                    <span class="slider round"></span>
                  </label></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" name="aircraft" id="modal_aircraft" value="" readonly></td>
                <td><input type="text" name="parameter" id="modal_param" value=""></td>
                <td><input type="text" name="type" id="modal_type" value=""></td>
              </tr>
            </tbody>
          </table>

          <div class="container col-md-12">
            <input type="text" hidden name="test" id="modal_test" value="">
            <input type="hidden" id="modal_activity" value="<%=activity%>">
            <br>
            <div class="row text-center">
              <div class="col md-12">
                <h6>Specify the amount of previous tests to display</h6>
                <input class="text-center" style="width:55px;" min=1 type="number" value="1" name="entries" id="modal_entries">
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" data-dismiss="modal" id="#closeButton">Close</button>
          <button type="" id="save" class="btn btn-primary">Search &raquo;</button>
        </div>
    </div>
    </form>
  </div>
</div>
