<!-- Modal -->
<div class="modal fade" id="spinnerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
            <div class="modal-body text-center">
                <div class="lds-ring d-inline-p2">
                    <div></div><div></div><div></div><div></div>
                </div>
                <div class="d-inline-p2">
                    Loading Data
                </div>
            </div>
    </div>
  </div>
</div>