<!DOCTYPE html>
<html>

<head>
  <title>Autoval Web Interface</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
  <%/* <meta name="robots" content="noindex"> */%>

  <!--STYLES-->
  <link rel="stylesheet" href="/dependencies/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/dependencies/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
  <link rel="stylesheet" href="/styles/font-awesome-animation.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/style.css">
  <!--STYLES END-->

  <link rel="stylesheet" href="/dependencies/bootstrap-select.css">
</head>

<body class="home-back">
  <!-- Navbar Section -->
  <header id="page-header">
    <nav class="navbar navbar-expand-md fixed-top">
      <div class="container-fluid">
        <!--  Logo icon -->
        <a href="/" class="navbar-brand"><img src="/images/navlogo.png"></a>

        <div class="collapse navbar-collapse" id="menu" style="padding-right:4rem">
          <ul class="navbar-nav ml-auto">
            <div class="nav-item dropdown">
              <a class="nav-link dropdown toggle ml-2 ml-md-0 mr-2 mr-md-0" id="header-account-menu-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" href="">Activity</a>
              <div class="dropdown-menu account-menu" aria-labelledby="header-account-menu-link">
                <a class="dropdown-item nav-drop" href="/Activities/ANEMO/flights">ANEMO</a>
                <a class="dropdown-item nav-drop" href="/Activities/DGPS/flights">DGPS</a>
                <a class="dropdown-item nav-drop" href="/Activities/MCI/flights">MCI</a>
              </div>
            </div>

          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- End navbar section-->

  <!--  Start body content -->
  <div class="site">
    <div class="dash">
      <%- body %>
    </div>
    <!-- End body content -->

    <!-- Start of footer -->
    <footer class="myfooter">
      <div class="row">
        <div class="col md-4"></div>
        <div class="col md-4 text-center">
          <a href="https://expleogroup.com/" class="navbar-brand"><img src="/images/footerlogo.png"></a>
        </div>
        <div class="col md-4"></div>
      </div>
    </footer>
    <!-- End of footer -->
  </div>

  <!--SCRIPTS-->
  <script src="/dependencies/jquery.min.js"></script>
  <script src="/dependencies/jquery.dataTables.min.js"></script>
  <script src="/dependencies/dataTables.bootstrap4.min.js"></script>
  <script src="/dependencies/hammer.js"></script>
  <script src="/dependencies/Chart.bundle.min.js"></script>
  <script src="/dependencies/chartjs-plugin-annotation.min.js"></script>
  <script src="/dependencies/chartjs-plugin-zoom.js"></script>
  <script src="/dependencies/sails.io.js"></script>
  <script src="/dependencies/bootstrap-4/bootstrap-4.bundle.js"></script>
  <script src="/js/Activities/ANEMO/flights.page.js"></script>
  <script src="/js/Activities/DGPS/flights.page.js"></script>
  <script src="/js/Activities/flight-overview.page.js"></script>
  <script src="/js/Activities/MCI/flights.page.js"></script>
  <script src="/js/Dependencies/Dropdown.js"></script>
  <script src="/js/home.page.js"></script>
  <script src="/js/Settings/activity-settings.page.js"></script>
  <script src="/js/Settings/filter-settings.page.js"></script>
  <script src="/js/spinner.page.js"></script>
  <script src="/dependencies/bootstrap-select.js"></script>
  <!--SCRIPTS END-->

</body>

</html>
