<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <form action="/Activities/DGPS/search" method="POST">
        <div class="modal-header" style="background-color:#eef7fc">
          <h4 class="modal-title text-center" style="margin: 0 auto;" id="exampleModalCenterTitle"> Search Criteria <i
              style="color:rgb(148, 196, 224);" class="fa fa-search fa-sm" title="Search"></i></h4>
        </div>
        <div class="modal-body " style="background-color:white; margin: 0 auto;">
          <div class="container">
            <div class="row">
              <div class="col md-4 ">

                <p> AIRCRAFT <br> <input type="text" name="aircraft" id="modal_aircraft" value=""></p>
              </div>

              <div class="col md-4 ">
                <p>PARAMETER 
                  <br> <input type="text" name="parameter" id="modal_param" value=""></p>
              </div>

              <div class="col md-4 ">
                <p>TYPE <label class="switch">
                    <input type="checkbox" id="type_check" checked>
                    <span class="slider round"></span>
                  </label>
                  <br> <input type="text" name="type" id="modal_type" value=""></p>


              </div>
            </div>
            <br>
            <div class="row text-center">
              <div class="col md-12">
                <h6>Specify the amount of entries to display</h6>
                <input class="text-center" style="width:55px;" min=1 type="number" value="1" name="entries" id="modal_entries">
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" data-dismiss="modal" id="#closeButton">Close</button>
          <button type="" id="save" class="btn btn-primary">Search &raquo;</button>
        </div>
    </div>
    </form>
  </div>
</div>
